<html>
<head>
	<title>Let's Chat!</title>
  <link rel='stylesheet' href='style.css' />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type ="text/javascript">
    $(document).ready(function (){
    	var socket = io.connect();

    	var name = prompt("What is your name?");

    	socket.emit("got_new_user", {name: name});

    	socket.on("new_user", function(data){
    		console.log(data);
    		for(var i=0; i<(data.users).length; i++){
    			$('#users').append("<p>"+data.users[i].name+"</p>");
    		}
    	});
   		
   		$('button').click(function (){
   			var message = $('#msg_text').val();
   			socket.emit("message_post", {message: message});
   		});

   		socket.on("show_msgs", function(data){
   			for(var i=0; i<(data.messages).length; i++){
   				$('#chat').append("<div><p>"+data.messages[i].name+": "+data.messages[i].message+"</p></div>");
   			}
   			console.log(data.messages);
   		});
  	})
  </script>
</head>
<body>
	<div id="container">
		<div id="body">
			<h2>Conversation Board</h2>
			<div id="chat">
			</div>
			<textarea id="msg_text" placeholder="type your message here"></textarea>
			<button>Submit!</button>
		</div>
		<div id="users_in_chat">
			<p>Users in this chat:</p>
			<div id="users"></div>
		</div>
	</div>
</body>
</html>